@font-face {
    font-family: 'Montserrat';
    src: url('/vendor/cms/fonts/montserrat_reqular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppins';
    src: url('/vendor/cms/fonts/poppins_regular.woff2') format('woff2');
}
