// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $gray-100;
$body-color: $gray-600;


// Components
//
// Define common padding and border radius sizes and more.

$border-color: #edf2f9;

$border-radius-sm: .25rem;
$border-radius: .5rem;
$border-radius-lg: 1rem;

$box-shadow-sm: 0 .125rem .25rem rgba(18, 38, 63, .03);
$box-shadow-lg: 0 .75rem 1.5rem rgba(18, 38, 63, .03);

$caret-width: .3em !default;
$caret-spacing: $caret-width * .85 !default;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;

$headings-font-family: 'Montserrat', sans-serif;
$headings-color: $gray-900;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-hover-bg: $border-color;


// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-focus-width: 0;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-square-size-sm: 1.875rem;
$btn-square-size: 2.25rem;


// Forms

$custom-checkbox-indicator-border-radius: $border-radius-sm;


// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-toggle-padding-right: $caret-width * 2 + $caret-spacing;


// Pagination

$pagination-padding-x: 1rem;


// Cards

$card-spacer-y: 1rem;
$card-spacer-x: 1.5rem;
$card-border-color: $border-color;
$card-cap-bg: transparent;
$card-shadow: $box-shadow-lg;


// Custom

$header-height: 58px;

$sidebar-width: 15rem;
$sidebar-padding: 1rem;
