/.github export-ignore
/docker export-ignore
# TODO: Enable again. Is disabled because actions/checkout@v2 is not including
# this file.
# /tests export-ignore

/.gitattributes export-ignore
/.gitignore export-ignore
/.phpcs.xml export-ignore
/.stylelintrc.js export-ignore
/bootstrap.php export-ignore
/composer.lock export-ignore
/docker-compose.yml export-ignore
/mix-manifest.json export-ignore
# TODO: Enable again. Is disabled because actions/checkout@v2 is not including
# this file.
# /phpunit.xml export-ignore
/server.php export-ignore
/webpack.mix.js export-ignore
/yarn.lock export-ignore
