.cms-multi-select.is-invalid {
    .dropdown .dropdown-toggle {
        border-color: $form-feedback-invalid-color;

        @if $enable-validation-icons {
            padding-right: $input-height-inner;
            background-image: escape-svg($form-feedback-icon-invalid);
            background-repeat: no-repeat;
            background-position: right $input-height-inner-quarter center;
            background-size: $input-height-inner-half $input-height-inner-half;
        }

        &:focus {
            border-color: $form-feedback-invalid-color;
        }
    }
}

.cms-image-input {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    .select-image-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.image-selected {
        .select-image-icon {
            display: none;
        }

        &:hover .select-image-icon {
            display: block;
        }
    }
}
