.sidebar {
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: 0;
    width: $sidebar-width;

    .nav-link {
        color: $body-color;

        &:hover,
        &.active {
            background-color: rgba($border-color, .5);
        }
    }
}
